<?xml version="1.0" encoding="UTF-8"?>
<!-- @see https://docs.phpunit.de/en/10.5/configuration.html -->
<phpunit
	bootstrap="vendor/autoload.php"
	backupGlobals="false"
	cacheResult="false"
	colors="true"
>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
	</php>
</phpunit>
